<a href="https://colab.research.google.com/github/20193253/pdm10/blob/main/py-pandas/pandas_2_handling_df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python module 3. **pandas**

# Using pandas

* [10 Minutes to pandas](https://pandas.pydata.org/pandas-docs/stable/10min.html)
* [Pandas tutorial with interactive exercises](https://www.kaggle.com/pistak/pandas-tutorial-with-interactive-exercises)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline  # work for Jupyter notebook or lab



---

## [2] Handling DataFrame
- head()
- tail()
- describe()
- info()

In [2]:
# Creating a DataFrame by passing a NumPy array, with a datetime index and labeled columns:
dates = pd.date_range('20210927', periods=6)
dates

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [3]:
# head()
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df.head()

                   A         B         C         D
2021-09-27 -0.871596 -0.578691 -0.586267 -0.003510
2021-09-28 -0.423084  1.041580  0.568878 -1.560935
2021-09-29 -0.738569 -0.147987  0.934805 -0.583642
2021-09-30  0.847970 -0.997337 -0.763779  0.324590
2021-10-01 -0.169919 -1.861331 -0.156739 -0.184649

In [4]:
df.head(2)

                   A         B         C         D
2021-09-27 -0.871596 -0.578691 -0.586267 -0.003510
2021-09-28 -0.423084  1.041580  0.568878 -1.560935

In [28]:
df.head(7)

                   A         B         C         D
2021-09-27 -0.871596 -0.578691 -0.586267 -0.003510
2021-09-28 -0.423084  1.041580  0.568878 -1.560935
2021-09-29 -0.738569 -0.147987  0.934805 -0.583642
2021-09-30  0.847970 -0.997337 -0.763779  0.324590
2021-10-01 -0.169919 -1.861331 -0.156739 -0.184649
2021-10-02  2.306928 -1.212227 -0.794653  0.505829

In [5]:
df.tail(3)

                   A         B         C         D
2021-09-30  0.847970 -0.997337 -0.763779  0.324590
2021-10-01 -0.169919 -1.861331 -0.156739 -0.184649
2021-10-02  2.306928 -1.212227 -0.794653  0.505829

In [6]:
# Display the index, columns, and the underlying NumPy data:
df.index

DatetimeIndex(['2021-09-27', '2021-09-28', '2021-09-29', '2021-09-30',
               '2021-10-01', '2021-10-02'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2021-09-27 to 2021-10-02
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

In [9]:
# describe() shows a quick statistic summary of your data:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.158622 -0.625999 -0.132959 -0.250386
std    1.216802  1.001913  0.731371  0.747841
min   -0.871596 -1.861331 -0.794653 -1.560935
25%   -0.659698 -1.158504 -0.719401 -0.483894
50%   -0.296501 -0.788014 -0.371503 -0.094079
75%    0.593498 -0.255663  0.387474  0.242565
max    2.306928  1.041580  0.934805  0.505829

In [10]:
df.describe().T

   count      mean       std       min       25%       50%       75%       max
A    6.0  0.158622  1.216802 -0.871596 -0.659698 -0.296501  0.593498  2.306928
B    6.0 -0.625999  1.001913 -1.861331 -1.158504 -0.788014 -0.255663  1.041580
C    6.0 -0.132959  0.731371 -0.794653 -0.719401 -0.371503  0.387474  0.934805
D    6.0 -0.250386  0.747841 -1.560935 -0.483894 -0.094079  0.242565  0.505829

In [11]:
# Transposing your dataframe:
df.T

   2021-09-27  2021-09-28  2021-09-29  2021-09-30  2021-10-01  2021-10-02
A   -0.871596   -0.423084   -0.738569    0.847970   -0.169919    2.306928
B   -0.578691    1.041580   -0.147987   -0.997337   -1.861331   -1.212227
C   -0.586267    0.568878    0.934805   -0.763779   -0.156739   -0.794653
D   -0.003510   -1.560935   -0.583642    0.324590   -0.184649    0.505829

In [12]:
df.T.index

Index(['A', 'B', 'C', 'D'], dtype='object')

### Sorting

#### Sort by index
- sort_index(axis=0, ascending=False)
- sort_index(axis=1, ascending=False)

> Axis=0 Column-Wise Operation (수직으로)

> Axis=1 Row-Wise Operation (수평으로)

In [13]:
# Sorting by an axis:
df, df.sort_index(axis=0) #, ascending=False)

(                   A         B         C         D
 2021-09-27 -0.871596 -0.578691 -0.586267 -0.003510
 2021-09-28 -0.423084  1.041580  0.568878 -1.560935
 2021-09-29 -0.738569 -0.147987  0.934805 -0.583642
 2021-09-30  0.847970 -0.997337 -0.763779  0.324590
 2021-10-01 -0.169919 -1.861331 -0.156739 -0.184649
 2021-10-02  2.306928 -1.212227 -0.794653  0.505829,
                    A         B         C         D
 2021-09-27 -0.871596 -0.578691 -0.586267 -0.003510
 2021-09-28 -0.423084  1.041580  0.568878 -1.560935
 2021-09-29 -0.738569 -0.147987  0.934805 -0.583642
 2021-09-30  0.847970 -0.997337 -0.763779  0.324590
 2021-10-01 -0.169919 -1.861331 -0.156739 -0.184649
 2021-10-02  2.306928 -1.212227 -0.794653  0.505829)

In [14]:
df,df.sort_index(axis=1, ascending=False)

(                   A         B         C         D
 2021-09-27 -0.871596 -0.578691 -0.586267 -0.003510
 2021-09-28 -0.423084  1.041580  0.568878 -1.560935
 2021-09-29 -0.738569 -0.147987  0.934805 -0.583642
 2021-09-30  0.847970 -0.997337 -0.763779  0.324590
 2021-10-01 -0.169919 -1.861331 -0.156739 -0.184649
 2021-10-02  2.306928 -1.212227 -0.794653  0.505829,
                    D         C         B         A
 2021-09-27 -0.003510 -0.586267 -0.578691 -0.871596
 2021-09-28 -1.560935  0.568878  1.041580 -0.423084
 2021-09-29 -0.583642  0.934805 -0.147987 -0.738569
 2021-09-30  0.324590 -0.763779 -0.997337  0.847970
 2021-10-01 -0.184649 -0.156739 -1.861331 -0.169919
 2021-10-02  0.505829 -0.794653 -1.212227  2.306928)

#### Sort by value
- sort_values(by='column')

In [15]:
# Sorting by values:
df,df.sort_values(by='B') #, ascending=False)

(                   A         B         C         D
 2021-09-27 -0.871596 -0.578691 -0.586267 -0.003510
 2021-09-28 -0.423084  1.041580  0.568878 -1.560935
 2021-09-29 -0.738569 -0.147987  0.934805 -0.583642
 2021-09-30  0.847970 -0.997337 -0.763779  0.324590
 2021-10-01 -0.169919 -1.861331 -0.156739 -0.184649
 2021-10-02  2.306928 -1.212227 -0.794653  0.505829,
                    A         B         C         D
 2021-10-01 -0.169919 -1.861331 -0.156739 -0.184649
 2021-10-02  2.306928 -1.212227 -0.794653  0.505829
 2021-09-30  0.847970 -0.997337 -0.763779  0.324590
 2021-09-27 -0.871596 -0.578691 -0.586267 -0.003510
 2021-09-29 -0.738569 -0.147987  0.934805 -0.583642
 2021-09-28 -0.423084  1.041580  0.568878 -1.560935)

## indexing and slicing of DataFrame

#### Selecting data by indexing and slicing
- indexing
- slicing

In [16]:
# Selecting a single column, which yields a Series
df['A']

2021-09-27   -0.871596
2021-09-28   -0.423084
2021-09-29   -0.738569
2021-09-30    0.847970
2021-10-01   -0.169919
2021-10-02    2.306928
Freq: D, Name: A, dtype: float64

In [17]:
# Selecting via [], which slices the rows.
df[0:3]

                   A         B         C         D
2021-09-27 -0.871596 -0.578691 -0.586267 -0.003510
2021-09-28 -0.423084  1.041580  0.568878 -1.560935
2021-09-29 -0.738569 -0.147987  0.934805 -0.583642

In [18]:
df['20200928':'20201001'] # 인덱스가 아닌 값인 경우는 지정된 범위가 다 선택된다.

Empty DataFrame
Columns: [A, B, C, D]
Index: []

#### Selecting data by label [중요!!]

> **loc, iloc**

In [19]:
df

                   A         B         C         D
2021-09-27 -0.871596 -0.578691 -0.586267 -0.003510
2021-09-28 -0.423084  1.041580  0.568878 -1.560935
2021-09-29 -0.738569 -0.147987  0.934805 -0.583642
2021-09-30  0.847970 -0.997337 -0.763779  0.324590
2021-10-01 -0.169919 -1.861331 -0.156739 -0.184649
2021-10-02  2.306928 -1.212227 -0.794653  0.505829

In [20]:
df.loc[dates[0]]   # loc()

A   -0.871596
B   -0.578691
C   -0.586267
D   -0.003510
Name: 2021-09-27 00:00:00, dtype: float64

In [21]:
# Selecting on a multi-axis by label:
df.loc[:,['A','B']]

                   A         B
2021-09-27 -0.871596 -0.578691
2021-09-28 -0.423084  1.041580
2021-09-29 -0.738569 -0.147987
2021-09-30  0.847970 -0.997337
2021-10-01 -0.169919 -1.861331
2021-10-02  2.306928 -1.212227

#### [DIY: 도전코딩]

> Select data for first two days AND comumn 3,4 from df.

In [31]:
# df.loc[0:2,['C','D']]
# df.loc['20210927 ':'20210928',['C','D']]
df.loc[dates[:2],['C','D']]

                   C         D
2021-09-27 -0.586267 -0.003510
2021-09-28  0.568878 -1.560935

#### Selecting data by position (iloc())
- index 사용

In [23]:
df

                   A         B         C         D
2021-09-27 -0.871596 -0.578691 -0.586267 -0.003510
2021-09-28 -0.423084  1.041580  0.568878 -1.560935
2021-09-29 -0.738569 -0.147987  0.934805 -0.583642
2021-09-30  0.847970 -0.997337 -0.763779  0.324590
2021-10-01 -0.169919 -1.861331 -0.156739 -0.184649
2021-10-02  2.306928 -1.212227 -0.794653  0.505829

In [24]:
df.iloc[3]  # 결과는 차원축소형으로 표현됨.

A    0.847970
B   -0.997337
C   -0.763779
D    0.324590
Name: 2021-09-30 00:00:00, dtype: float64

In [34]:
# [다시 도전]
# Select data for first two days AND comumn 3,4 from df.
# Use iloc
df.iloc[:2,2:4]

                   C         D
2021-09-27 -0.586267 -0.003510
2021-09-28  0.568878 -1.560935

In [26]:
# Select one item
df.iloc[1,1]

1.0415797775620124

In [32]:
# [DIY: 다시 도전]
# Select data for first three days from df
# Your code
df.iloc[:3,:]

                   A         B         C         D
2021-09-27 -0.871596 -0.578691 -0.586267 -0.003510
2021-09-28 -0.423084  1.041580  0.568878 -1.560935
2021-09-29 -0.738569 -0.147987  0.934805 -0.583642

#### Selecting data by Boolean indexing

In [35]:
df

                   A         B         C         D
2021-09-27 -0.871596 -0.578691 -0.586267 -0.003510
2021-09-28 -0.423084  1.041580  0.568878 -1.560935
2021-09-29 -0.738569 -0.147987  0.934805 -0.583642
2021-09-30  0.847970 -0.997337 -0.763779  0.324590
2021-10-01 -0.169919 -1.861331 -0.156739 -0.184649
2021-10-02  2.306928 -1.212227 -0.794653  0.505829

In [39]:
df.A > 0

2021-09-27    False
2021-09-28    False
2021-09-29    False
2021-09-30     True
2021-10-01    False
2021-10-02     True
Freq: D, Name: A, dtype: bool

In [40]:
df > 0

                A      B      C      D
2021-09-27  False  False  False  False
2021-09-28  False   True   True  False
2021-09-29  False  False   True  False
2021-09-30   True  False  False   True
2021-10-01  False  False  False  False
2021-10-02   True  False  False   True

In [36]:
df[df.A > 0]

                   A         B         C         D
2021-09-30  0.847970 -0.997337 -0.763779  0.324590
2021-10-02  2.306928 -1.212227 -0.794653  0.505829

In [37]:
df[df > 0]

                   A        B         C         D
2021-09-27       NaN      NaN       NaN       NaN
2021-09-28       NaN  1.04158  0.568878       NaN
2021-09-29       NaN      NaN  0.934805       NaN
2021-09-30  0.847970      NaN       NaN  0.324590
2021-10-01       NaN      NaN       NaN       NaN
2021-10-02  2.306928      NaN       NaN  0.505829